

.SideNav{

    min-width:300px;
    min-height:100vh;
    width:15vw;
    Background: #111217;
    display: flex;
    flex-direction: column;



}
.StoreLogo{
    min-width:200px;
    min-height:200px;
    height: 200px;


    background-image: url(img/HackerSwagIconMEDIUM.png);
    background-position: center;
    background-size: 90%;

}
